<div layout="column" class="hundies" id="main">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Back" ng-click="navBack()">
                <md-icon md-svg-icon="assets/images/icons/left.svg"></md-icon>
            </md-button>
            <div flex></div>
            <h1>
              <span>eeArm</span>
            </h1>
            <div flex></div>
        </div>
    </md-toolbar>
    <div id="content" flex>
        <md-content layout-padding>
            <md-subheader class="md-no-sticky">App Settings</md-subheader>
            <md-input-container flex>
                <label>Host</label>
                <input ng-model="host">
            </md-input-container>
            <md-button flex="50" class="md-primary md-raised" ng-click="save()">Save</md-button>
        </md-content>
    </div>
</div>