<div layout="column" class="hundies" id="main">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ui-sref="settings">
                <md-icon md-svg-icon="assets/images/icons/cogs.svg"></md-icon>
            </md-button>
            <div flex></div>
            <h1>
              <span>eeArm</span>
            </h1>
            <div flex></div>
        </div>
    </md-toolbar>
    <div id="content" flex layout="column" layout-align="center center" layout-wrap>
        <div id="robot-control-wrapper" layout="column" ng-style="{height: contentHeight, width: contentWidth}">
            <div layout="row" flex="30">
                <div ng-click="decrease('claw')" flex></div>
                <div ng-click="increase('claw')" flex></div>
            </div>
            <div layout="row" flex="25">
                <div ng-click="increase('neck')" flex="40"></div>
                <div ng-click="decrease('neck')" flex></div>
            </div>
            <div layout="row" flex="25">
                <div ng-click="decrease('body')" flex></div>
                <div ng-click="increase('body')" flex></div>
            </div>
            <div layout="row" flex>
                <div ng-click="decrease('base')" flex></div>
                <div ng-click="increase('base')" flex></div>
            </div>
        </div>
    </div>
    <!--  <div id="robot-position" layout="row" layout-align="space-around center">
                                    <span><b>Base: </b>78&deg;</span>
                                    <span><b>Neck: </b>69&deg;</span>
                                    <span><b>Arm: </b>23&deg;</span>
                                    <span><b>Claw: </b>45&deg;</span>
        </div> -->
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center" layout-wrap>
            <md-button class="md-icon-button" aria-label="Add" ng-click="addStep()">
                <md-icon md-svg-icon="assets/images/icons/plus.svg"></md-icon>
            </md-button>
            <!--             <md-button class="md-icon-button" aria-label="Save" ng-click="saveSteps()">
                                        <md-icon md-svg-icon="assets/images/icons/save8.svg"></md-icon>
            </md-button> -->
            <md-button class="md-icon-button" aria-label="Undo" ng-click="clearLastStep()">
                <md-icon md-svg-icon="assets/images/icons/undo.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Go to start" ng-click="goToStart()">
                <md-icon md-svg-icon="assets/images/icons/flag.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Play" ng-click="playSteps()">
                <md-icon md-svg-icon="assets/images/icons/play.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="More" ng-click="openBottomSheet()">
                <md-icon md-svg-icon="assets/images/icons/vertical.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
</div>