<div layout="column" class="hundies" id="main">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Back" ng-click="navBack()">
                <md-icon md-svg-icon="assets/images/icons/left.svg"></md-icon>
            </md-button>
            <div flex></div>
            <h1>
              <span>eeArm</span>
            </h1>
            <div flex></div>
        </div>
    </md-toolbar>
    <div id="content" flex>
        <md-content>
            <md-subheader class="md-no-sticky">Settings</md-subheader>
            <md-list-item  ng-click="$state.go('appSettings')">
                <md-icon md-svg-icon="assets/images/icons/smartphone.svg"></md-icon>
                <p> App Settings </p>
            </md-list-item>
            <md-list-item  ng-click="$state.go('armSettings')">
                <md-icon md-svg-icon="assets/images/icons/tool.svg"></md-icon>
                <p> Arm Settings </p>
            </md-list-item>
            <md-list-item  ng-click="$state.go('calibration')">
                <md-icon md-svg-icon="assets/images/icons/levels.svg"></md-icon>
                <p> Calibration </p>
            </md-list-item>
            <md-list-item  ng-click="$state.go('armStart')">
                <md-icon md-svg-icon="assets/images/icons/flag.svg"></md-icon>
                <p> Arm Start Position </p>
            </md-list-item>
        </md-content>
    </div>
</div>