/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	src: url(../../assets/fonts//Oswald-normal-400.woff) format('woff');
}

@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 700;
	src: url(../assets/fonts//Oswald-normal-700.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(../assets/fonts//Roboto-normal-400.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url(../assets/fonts//Roboto-normal-500.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url(../assets/fonts//Roboto-normal-700.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src: url(../assets/fonts//Roboto-italic-400.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 500;
	src: url(../assets/fonts//Roboto-italic-500.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 700;
	src: url(../assets/fonts//Roboto-italic-700.woff) format('woff');
}

@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	src: url(../assets/fonts//Roboto_Slab-normal-400.woff) format('woff');
}

@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	src: url(../assets/fonts//Roboto_Slab-normal-700.woff) format('woff');
}

html {
  font-family: 'Roboto Slab', serif;
}

.hundies  {
  height: 100%
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
